.container {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  z-index: 2;
  animation: appear 200ms forwards;
}

@supports not (backdrop-filter: none) {
  .container {
    background: #000c;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container__close {
  animation: fadeout 400ms ease forwards;
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

.button__close {
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}

.box {
  width: min(75vw, 500px);
  padding: 2rem 2rem;
  background-color: #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 15px 30px -10px #0003;
}

.text {
  font-size: clamp(0.7rem, min(2vh, 4vw), 1.1rem);
  background: #fff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.emoji {
  margin-right: 0.5rem;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: #33f;
}

.link:hover {
  opacity: 0.8;
}
