.metadata__container {
  --title-width: min(40vh, 70vw);
}

.title__container {
  position: relative;
  margin: 0 auto;
  width: var(--title-width);
  white-space: nowrap;
  overflow: hidden;
  height: 2rem;
}

.title {
  font-size: clamp(0.9rem, min(3vh, 6vw), 1.5rem);
  margin: 0;
}

.author__container {
  width: var(--title-width);
}

.author {
  font-size: clamp(0.7rem, min(2vh, 4vw), 1.1rem);
}

.year__container {
  width: var(--title-width);
}

.year {
  font-size: clamp(0.7rem, min(2vh, 4vw), 1.1rem);
}

.title--animated {
  animation: textScroll 10s linear infinite alternate;
  animation-delay: 3s;
  position: absolute;
}

@keyframes textScroll {
  0%,
  10% {
    transform: translate(0, 0);
  }

  90%,
  100% {
    transform: translate(calc(-100% + var(--title-width)), 0);
  }
}
