.player__container {
  position: fixed;
  margin: 2rem auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.coverImage__container {
  position: relative;
  margin: 2rem auto 3rem;
  height: clamp(10rem, 40vh, 25rem);
  width: clamp(10rem, 40vh, 25rem);
  display: flex;
  border-radius: 7%;
  overflow: hidden;
  background-color: #222;
}

.loadingTextContainer {
  position: fixed;
  max-width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingText {
  font-size: clamp(2rem, 7vw, 6rem);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 255),
    rgb(255, 150, 200),
    rgb(0, 0, 255)
  );
  background-clip: text;
  color: transparent;
  animation: loadingAnimation 20s linear infinite;
  background-size: 90%;
}

@keyframes loadingAnimation {
  from {
    background-position: -5000%;
  }
  to {
    background-position: 5000%;
  }
}
