.coverImage__container {
  position: relative;
  margin: 0 auto 3rem;
  width: clamp(10rem, 70vw, 30rem);
  height: clamp(10rem, 70vw, 30rem);
  display: flex;
  border-radius: 7%;
  overflow: hidden;
}

.coverImage__container img {
  width: 100%;
  height: 100%;
}

.playButton {
  place-self: center;
  z-index: 1;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(0, 0, 0, 0.3);
  color: #eee;
  font-size: 5rem;
  opacity: 0;
  transition-duration: 0.8s;
  transition-delay: 1s;
}

.playButton_paused {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.1s;
}

.playButton:hover {
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.1s;
}

.reloadButton {
  border: none;
  padding: 0;
  font-size: 1.5rem;
  text-decoration: underline;
}

.reloadButton:hover {
  color: #33c;
}

.loadingText {
  font-size: 3rem;
}

.loadingTextContainer {
  position: fixed;
  max-width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingText {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 255),
    rgb(255, 150, 200),
    rgb(0, 0, 255)
  );
  background-clip: text;
  color: transparent;
  animation: loadingAnimation 20s linear infinite;

  background-size: 90%;
}

@keyframes loadingAnimation {
  from {
    background-position: -5000%;
  }
  to {
    background-position: 5000%;
  }
}
