.container {
  background: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  color: #333;
  background: none;
  border: none;
  margin: 1rem 0.5rem;
  padding: 0.5rem min(3rem, 10vw);
  transition: transform 0.1s, opacity 1s;
  border-radius: 50%;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.9);
}

.svg {
  height: 100%;
  fill: #333;
  width: clamp(1rem, 4vw, 2.5rem);
}

.inactive {
  pointer-events: none;
  opacity: 0.2;
  transition: opacity 0.3s;
}
