.container {
  background: #eee;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeTrackButton {
  color: #333;
  font-size: clamp(2rem, 7vw, 4rem);
  border: none;
  margin: 1rem 0.5rem;
  padding: 0.5rem min(3rem, 10vw);
  transition: 0.1s;
}

.changeTrackButton:hover {
  transform: scale(1.1);
}

.changeTrackButton:active {
  transform: scale(0.9);
}

.checkboxLabel {
  padding-left: 0.4em;
  cursor: pointer;
}

.svgButton {
  height: 100%;
  fill: #333;
  width: clamp(1rem, 4vw, 2.5rem);
}
