.container {
  background: #eee;
  height: min(10vh, 5rem);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.title {
  color: #333;
  font-size: clamp(0.9rem, min(3vh, 6vw), 1.5rem);
}
