.header__container {
  background: #eee;
  height: 5rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header__title {
  color: #333;
  font-size: 1.4rem;
}
